.divOnePathRow{
    border-top-color: #eaeaea;
    border-top-style: solid;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
    border-width: 1px;
    padding-top: 5px;
    margin-bottom: 1px;
}

.svg_allowedGraph{
	background-color: #eee;
	border-radius: 5px;
}


.node{
	fill: #b1b1b1;
}
.node:hover {
	fill: blue;
}
.recNode {
	fill: #585858;
}


.edge{
	/* don't set values for things that I set programmatically for recorded edges 
	it would be overridden by this css value */
	stroke-width: 5;
}
.edge2{
}
.edge:hover {
	stroke-width: 25;
}
.recEdge {
	stroke-width: 10;
}

